.description {
    padding: 10px;
}

.mainPhoto {
    height: 100px;
    width: 100px;
    border-radius: 35px;
}

.image_backgraund {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
}

.contact {
    padding-left: 10px;
}