.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem .dialog {
    padding: 10px;
    color: red;
}

.dialogsItem .active {
    color: gold;
}


.messages {
    padding: 2px;
    color: red;
}

